<mat-dialog-actions align="end">
    <button mat-icon-button mat-dialog-close matTooltip="Close" color="warn">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <mat-icon>lock</mat-icon>
                        <form [formGroup]="passwordUpdateForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" appearance="outline" >
                                        <mat-label>new password</mat-label>
                                        <input matInput formControlName="new_pass" type="password">
                                    </mat-form-field>
                                    <div class="col-md-12">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>confirm</mat-label>
                                        <input matInput formControlName="confirm_pass"  type="password">
                                        <!--<mat-error *ngIf="passwordUpdateForm.controls['confirm_pass'].errors['ConfirmedValidator']">
                                            password must be same
                                        </mat-error> -->
                                        <mat-error *ngIf="passwordUpdateForm.controls['confirm_pass'].errors?.['ConfirmedValidator']">
                                            password must be same
                                        </mat-error>
                            
                                    </mat-form-field>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <button
                                    mat-raised-button
                                    color="primary"
                                    type="submit"
                                    class="btn btn-success"
                                    (click)="updatePassword()"
                                    [disabled]="passwordUpdateForm.invalid"
                                    mat-dialog-close
                                  >
                                  <i class="material-icons">save</i>
                                  Save
                                  </button>&nbsp;&nbsp;
                                  <button  mat-raised-button mat-dialog-close matTooltip="Close" color="warn" class="btn btn-danger">
                                    <i class="material-icons">close</i>Close
                                  </button>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>