

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<!--Main Navigation-->

    <!--Navbar-->
    <!-- <div class="container">
    <div class="first">first Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusantium eius nulla, deserunt ea minima tempora eveniet modi expedita natus est ab dolorem explicabo suscipit cum tenetur, id, dolorum laboriosam autem? Commodi?</div>
    <div class="second">second</div>
</div> -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrooling-navbar">
    
      <div class="container">
    
      
        <a class="navbar-brand" href="#">Navbar</a>
    
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      
        <div class="collapse navbar-collapse" id="basicExampleNav">
    
    
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
    
          </ul>
        
    
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      
    
      </div>
    
    </nav>
    <div class="carousel Slide" id =carousel data-ride="carousel">
        <div class="carousel-indicators">
            <button data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
            <button data-bs-target="#carousel" data-bs-slide-to="1"></button>
            <button data-bs-target="#carousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg" alt="1" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/PicsArt_03-11-04.14.36.jpg" alt="2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg" alt="3" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carousel">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carousel">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

<!-- 
    <div id="carouselExampleIndicators" class="carousel Slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div> -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script> -->
          <!--/.Navbar-->
    <!--Main Navigation-->
    
    <!--Main layout-->
    <!--Main layout-->
    
    <!--Footer-->

    <!--Footer-->