<!-- <div class ="body">
    <div class="lock" click="unlock()">
        <div class="key">
        </div>
    </div>    
</div> -->

    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>new
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>new
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>new
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>new
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>new
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <h1>Bootstrap 5 is working fine with Angular 13!!</h1>
          </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>submit</button>
    </mat-dialog-actions>

